containerSetup: &containerSetup
  docker:
    - image: cimg/openjdk:15.0.1
    - image: swaggerapi/petstore3:unstable
  environment:
    ENV: circle
  working_directory: ~/repo

version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/openjdk:15.0.1

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "app/build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "app/build.gradle" }}

      - persist_to_workspace:
          root: .
          paths:
            - gradle
  sanityTests:
    <<: *containerSetup
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "app/build.gradle" }}
      - run:
          name: Sanity Cucumber Tests
          command: |
            gradle sanityTest
          when: always
      - store_test_results:
          path: app/build/test-results
      - store_artifacts:
          path: app/build/reports
  regressionTests:
    <<: *containerSetup
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "app/build.gradle" }}
      - run:
          name: Regression Cucumber Tests
          command: |
            gradle regressionTest
          when: always
      - store_test_results:
          path: app/build/test-results
      - store_artifacts:
          path: app/build/reports

workflows:
  version: 2
  qaops-bdd:
    jobs:
      - build
      - sanityTests:
          requires:
            - build
      - regressionTests:
          requires:
            - sanityTests